@import "common.scss";
@import "_mixin.scss";
$width:100%;
$height:100%;
.wrapper {
    width: $width;
    height: $height;
    color: #333333;
    @include box_flex;
    @include direction(column);
    font-size: pxTorem(12px);
    overflow: hidden;
}



