@import '_mixin.scss';
@import 'common.scss';
.bigImg {
    width: 100%;
    height: pxTorem(200px);
    position: relative;
    img {
        position: absolute;
        bottom: pxTorem(10px);
        width: 100%;
    }
}